body {
    background-color: whitesmoke;
}

#navbar .bg-dark {
    background-color: #272822!important;
}

#navbar .navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #A6E22E;
}

#navbar .navbar-toggler {
    border: 2px solid #66D9EF;
    color: #66D9EF;
}

#navbar .navbar-brand .foreground {
    color: #F8F8F2!important;
}

#navbar .nav-link {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #75715E!important;
}

#navbar .nav-link.active {
    color: #E6DB74!important;
}

#navbar .nav-link.active .param {
    color: #FD971F!important;
}

#navbar .nav-link.active .foreground {
    color: #F8F8F2!important;
}
