<link rel="stylesheet" href="css/component/quote.css">
<div class="card bg-dark shadow-lg">
  <div class="card-header bg-light">
    <%- title %>
    <span class="float-end">
      <i class="fa-solid fa-circle text-success"></i>
      <i class="fa-solid fa-circle text-warning"></i>
      <i class="fa-solid fa-circle text-danger"></i>
    </span>
  </div>
  <div class="card-body text-white font-monospace">
    <blockquote class="blockquote mb-0">
      <p><%- quote %></p>
      <footer class="blockquote-footer"><%- author %> - <cite title="Source Title"><%- citation %></cite></footer>
    </blockquote>
  </div>
</div>
